body {
  text-align: center;
  margin-top: 120px;
  font-family: Arial, sans-serif;

  background: linear-gradient(
    -45deg,
    #ff8888,
    #ff4c4c,
    #ff3131,
    #770f0f
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

input {
  padding: 15px;
  font-size: 20px;
}

button {
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#userResult {
  margin-top: 50px;
  font-size: 20px;
  color: rgb(188, 175, 255);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

