body {
 background-color: pink;
 text-align: center;
 font-family:'Times New Roman', Times, serif;


}

input {
  padding: 15px;
  font-size: 20px;
}

button {
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#userResult {
  margin-top: 50px;
  font-size: 20px;
  color: rgb(188, 175, 255);
}


